{% extends 'base.html.twig' %}

{% block title %}Edit ProposingTransaction{% endblock %}

{% block body %}
    <h1>Edit ProposingTransaction</h1>

    {{ include('proposing_transaction/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('proposing_transaction_index') }}">back to list</a>

    {{ include('proposing_transaction/_delete_form.html.twig') }}
{% endblock %}
