.bd-highlight {
    background-color: rgba(86,61,124,.15);
    border: 1px solid rgba(86,61,124,.15);
}

table.calendar-table td {
    padding: 0;
}
.blc {
    height: 100px;
}
.bg-warning-c {
    background-color: #dee2e6 !important;
}

.bg-success-c {
    background-color: #367888  !important;
    color: #fff;
}
.fa-thumbs-up {
    color: green;
}
.fa-thumbs-down {
    color: red;
}
.bullk{
    cursor: pointer;
}
