{% extends 'base.html.twig' %}

{% block title %}TypeDon index{% endblock %}

{% block body %}
    <h1>TypeDon index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for type_don in type_dons %}
            <tr>
                <td>{{ type_don.id }}</td>
                <td>{{ type_don.name }}</td>
                <td>

                    <a href="{{ path('type_don_edit', {'id': type_don.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('type_don_new') }}">Create new</a>
{% endblock %}
